<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Games</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guess">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> Guess Number Game
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rps">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> Rock Paper Scissors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tic-tac-toe">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> Tic Tac Toe
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="movingbox">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> Moving Box
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ultimate-arcade">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> Ultimate Arcade
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dxball">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> DX Ball
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="maze">
                <span class="oi oi-target-nav-menu" aria-hidden="true"></span> Maze
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
